.clients {
  
  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #afb1b8;
    border: 1px solid currentColor;
    border-radius: 4px;
    width: 170px;
    height: 92px;
    transition: color var(--transition);

    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }

  &__list {
    --card-list: 6;
  }

  &__icon {
    fill: currentColor;
  }
}
