.features {
    padding-bottom: 47px;
  }
  
  .datails-list {
    --card-list: 4;

    &__pic {
      background-color: #f5f4fa;
      height: 120px;
      display: flex;
      border-radius: 4px;
      justify-content: center;
      align-items: center;
      margin-bottom: 30px;
    }

    &__tittle {
      font-size: inherit;
      color: var(--title-text-color);
      line-height: 1.14;
      text-transform: uppercase;
      margin-bottom: 10px;
    }
  }
