.footer {
    background: var(--section-background-color);
    padding-top: 60px;
    padding-bottom: 60px;

    &__markup {
      display: flex;
      align-items: baseline;
    }
    
    &__contact {
      margin-right: 70px;
    }
  }
  
  
  .footer-input-icon {
    margin-left: 10px;
    fill: var(--primary-color);
  }

  .address-list:not(:last-child) {
    margin-bottom: 10px;
  }
  .address-link {
    color: var(--footer-color-link);
    transition: color var(--transition);
  }
  .address-link[target='_blank'] {
    color: var(--primary-color);
  }
  .address-link:hover,
  .address-link:focus {
    color: var(--accent-color);
  }