.item {
    position: relative;
  }
  .header {
    border: 1px solid #ececec;
  }
  .header .logo {
    margin-right: 93px;
    padding-top: 24px;
    padding-bottom: 24px;
  }
  .header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .logo-header {
    color: var(--title-text-color);
  }
  .navigation {
    display: flex;
    align-items: center;
  }
  .nav-link {
    display: flex;
    color: var(--title-text-color);
  }
  .nav-link .item:not(:last-child) {
    margin-right: 50px;
  }
  .nav-contact {
    margin-left: auto;
  }
  .header-contact {
    display: flex;
    margin-left: auto;
  }
  .header-contact .item:not(:last-child) {
    margin-right: 50px;
  }
  .header-link {
    display: inline-flex;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition: color var(--transition);
  }
  
  .header-link:hover,
  .header-link:focus {
    color: var(--accent-color);
  }
  .header-icon {
    fill: currentColor;
    margin-right: 10px;
  }